<div class="topnav">
  <a href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/about">About</a>
  {{#if user}}
  <a href="/projects">Projects</a>
  <a href="/collaborators">Collaborators</a>
  <a href="/logout">Log out</a>
  {{else}}
  <a href="/login" id="loginButton">Log in</a>
  {{/if}}
</div>