/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background: rgb(46, 46, 46);
    color: white;
    font-family: arial, sans-serif;
    font-size: 14px;
  }
  
  /* Applies to all <h1>...</h1> elements. */
  h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }
  
  /* Applies to all elements with <... class="someclass"> specified. */
  .someclass { color: red; }
  
  /* Applies to the element with <... id="someid"> specified. */
  #someid { color: green; }

  #editor { 
    position: absolute;
    top: 200;
    right: 0;
    bottom: 0;
    left: 550;
    width:800px;
    height:600px;
}

#terminal { 
  position: absolute;
  top: 800;
  right: 0;
  bottom: 0;
  left: 550;
  width:800px;
  height:300px;
}