{{> head}}
<body id="login-body">
    <div class="wrap">
        <form class="login-form" method="POST" action="/login/validate">
                    <div class="form-header">
                        <h3>Login Form</h3>
                        <p>Login to access your dashboard</p>
                    </div>
                    {{#if success_msg}}
                        <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{success_msg}}
                        </div>
                    {{/if}}
                    <!--Email Input-->
                    <div class="form-group">
                        <input type="text" name="username" class="form-input" placeholder="Username">
                    </div>
                    <!--Password Input-->
                    <div class="form-group">
                        <input type="password" name="password" class="form-input" placeholder="Password">
                    </div>
                    <!--Login Button-->
                    <div class="form-group">
                        <button class="form-button" type="submit">Log In</button>
                    </div>
                    <div class="form-footer">
                    Don't have an account? <a href="/register">Register</a>
                    </div>
        </form>
    </div>
</body>