{{> head}}
<h1>Hi, Welcome to CodeView</h1>
{{#if user}}
    <p>HELLO WORLD</p>
{{/if}}
{{> navbar}}
{{> htmlFiddle}}

<script>
    function socketSetup() {
        const socket = io.connect('http://localhost:80')
    }

    socketSetup()
    
</script>