{{> head}}
<h1>Hi, Welcome to CodeView</h1>
{{#if user}}
    <p>HELLO WORLD</p>
{{/if}}
{{> navbar}}
{{> htmlFiddle}}

<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>