{{> head}}
<h1>Hi, Welcome to CodeView</h1>

{{> navbar}}
<h2>Your projects</h2>

<div>
    <a href="/projects/createProject">Create New Project</a>
</div>
<ul id="user-projects-list">
    {{#each fiddles}}
    <li>
        <div><a href="projects/{{this._id}}/edit">{{this.name}}</a></div>
    </li>
    {{/each}}
</ul>