{{> head}}
<h1>Hi, Welcome to CodeView</h1>

{{> navbar}}
<h2>Your projects</h2>

<ul id="user-projects-list">
    {{#each userProjects}}
    <li>
        <div><a href=":{{userProjects._id}}/edit">{{userProjects.name}}</a>}</div>
    </li>
    {{/each}}
</ul>