{{> head}}
<h1>Hi, Welcome to CodeView</h1>

{{> navbar}}
<h2>Collaborators</h2>
<ul>
    <li><a href="collaborators/requests"><button>Collab requests</button></a></li>
    <li><a href="collaborators/add"><button>Add collaborator</button></a></li>
</ul>
